<!-- <div class="container-fluid pt-5"></div>
    <div class="container">
        <div class="text-center pb-2">

            <h1 class="mb-4">ADD Student</h1>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" [formGroup]="Form">
                        <div class="control-group" style="margin-bottom: 20px;">
                            <input type="tel" class="form-control" id="name" placeholder="Your telephone number"
                                formControlName="tel" />
                            <div *ngIf="loginForm.controls['tel'].invalid && (loginForm.controls['tel'].touched)"></div>
                            <div *ngIf="loginForm.controls['tel'].errors?.['required']">Telephone number is required
                            </div>
                        </div>
                

                <div class="control-group" style="margin-bottom: 20px;">
                    <input type="password" class="form-control" id="email" placeholder="Your Password"
                        formControlName="password" />
                    <div *ngIf="loginForm.controls['passwort'].invalid && (loginForm.controls['passwort'].touched)"></div>
                        <div *ngIf="loginForm.controls['passwort'].errors?.['required']">Telephone number is required
                        </div>
                   
                </div>

                <div>
                    <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton" (click)="login()">
                        Login
                    </button>
                </div>
                </form>
                        <div class="control-group">
                            <input type="tel" class="form-control" id="name" placeholder="Your telephone number"
                                 formControlName="tel"/>
                                 <div *ngIf="loginForm.controls['tel'].invalid && (loginForm.controls['tel'].touched)">
                                    <div *ngIf="loginForm.controls['tel'].errors?.['required']">Telephone number is required</div>
                                  </div>
                        </div>
                        <div class="control-group">
                            <input type="password" class="form-control" id="name" placeholder="Your password"
                                 formControlName="password"/>
                                 <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].touched)">
                                    <div *ngIf="loginForm.controls['password'].errors?.['required']">Password is required</div>
                                  </div>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                               Login
                            </button>
                        </div>
                    </form> 
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div> -->
