
<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <div class="text-center pb-2">

            <h1 class="mb-4">Student Dashboard</h1>
        </div>
        <div class="col-12 col-lg-12"></div>
        <div class="palatin-tabs-content ">
            <ul class="nav nav-tabs row text-center" id="navTabsDiv" role="tablist">
                <li class="nav-item col-4">
                   
                </li>
                <li class="nav-item col-4 " >
                    <a class="btn btn-outline-primary m-1 active" id="tab--2" data-toggle="tab" href="#tab2" role="tab"
                        aria-controls="tab2" aria-selected="false" style="border-radius:30%;width: 150px;">course</a>
                </li>
                <li class="nav-item col-4" >

                </li>
               

              

            </ul>
            <div class="tab-content mb-100">
               
                <div class="tab-pane fade row show active" id="tab2" role="tabpanel" aria-labelledby="tab--2">
                    <app-cours-table></app-cours-table>
                </div>
               

            </div>
        </div>
    </div>
   