<table class="table col-12">
    <thead class="text-center">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Telephone</th>
        <th scope="col">Adress</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let elt of usersTab">
        <th scope="row">{{elt._id}}</th>
        <td>{{elt.firstName}}</td>
        <td>{{elt.lastName}}</td>
        <td>{{elt.email}}</td>
        <td>{{elt.tel}}</td>
        <td>{{elt.adress}}</td>
        
        <td >
          <button class="btn btn-primary  " style="border-radius: 5px;color:#ffffff;">Display</button>
          <button class="btn btn-danger  ml-2 mr-2" style=" border-radius: 5px;">Delete</button>
          <button class="btn btn-success  " style=" border-radius: 5px;" >Assign Course</button>

      </td>
    </tr>
    </tbody>
  </table>