 <!-- Gallery Start -->
 <div class="container-fluid pt-5 pb-3">
    <div class="container">
      <div class="text-center pb-2">
        
        <h1 class="mb-4">Admin Dashboard</h1>
      </div>
      <div class="col-12 col-lg-12"></div>
          <div class="palatin-tabs-content ">
              <ul class="nav nav-tabs row text-center" id="navTabsDiv" role="tablist">
                  <li class="nav-item col-4">
                      <a class="btn btn-outline-primary m-1 active" id="tab--1" data-toggle="tab" href="#tab1" role="tab"
                          aria-controls="tab1" aria-selected="false">Cours</a>
                  </li>
                  <li class="nav-item col-4">
                      <a class="btn btn-outline-primary m-1" id="tab--2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
                          aria-selected="false">Students</a>
                  </li>
                  <li class="nav-item col-4">
                      <a class="btn btn-outline-primary m-" id="tab--3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
                          aria-selected="true">Note</a>
                  </li>
                 
              </ul>
              <div class="tab-content mb-100">
                  <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                  <!-- <app-matches-tab></app-matches-tab> -->
                  </div>
                  <div class="tab-pane fade " id="tab2" role="tabpanel" aria-labelledby="tab--2">
                  <!-- <app-teams-tab></app-teams-tab> -->
                  </div>
                  <div class="tab-pane fade " id="tab3" role="tabpanel" aria-labelledby="tab--3">
                     <!-- <app-players-tab></app-players-tab> -->
                  </div>
                 
              </div>
          </div>
      </div>
  <!-- Gallery End -->